<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование записи</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <form action="update" method="post" th:object="${citizen}">
            <input type="hidden" th:field="*{id}">
            ФИО нарушителя: <input type="text" name="name" th:field="*{name}">
            <br>
            Дата выписки штрафа: <input type="date" name="issueDate" th:field="*{issueDate}">
            <br>
            Оплачено: <input type="checkbox" name="payed" th:field="*{payed}">
            <br>
            <br>
            <button class="btn btn-success" type="submit">Отредактировать запись</button>
        </form>
    </div>
</body>
</html>